<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Pansion Neretva&mdash; Gallery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'gallery/fonts/icomoon/style.css'%}">

    <link rel="stylesheet" href="{% static 'gallery/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'gallery/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'gallery/css/jquery-ui.css'%}">
    <link rel="stylesheet" href="{% static 'gallery/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'gallery/css/owl.theme.default.min.css'%}">

    <link rel="stylesheet" href="{% static 'gallery/css/bootstrap-datepicker.css'%}">

    <link rel="stylesheet" href="{% static 'gallery/fonts/flaticon/font/flaticon.css'%}">

    <link rel="stylesheet" href="{% static 'gallery/css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'gallery/css/fancybox.min.css'%}">

    <link rel="stylesheet" href="{% static 'gallery/css/style.css'%}">
    
  </head>
  <body>
  

  <div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="header-bar d-flex d-lg-block align-items-center">
    <div class="site-logo">
      <a href="index.html">Pansion Neretva</a>
    </div>
    
    <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

    <div class="main-menu">
      <ul class="js-clone-nav">
        
        <li><a href="index.html">Home</a></li>
        <li><a href="https://www.booking.com/hotel/ba/pansion-neretva.hr.html" target="_blank">BOOK NOW</a></li>
        <li style = "padding-top: 10px;;">CALL US</li>  
        <li ><a href=" tel:+387 62 030 616">062 030 616</a></li>
        

      </ul>
      <ul class="social js-clone-nav">
        <li><a href="https://www.facebook.com/search/top?q=rafting%20%22adrenaline%22%20neretva%20%26%20pansion%20neretva"target="_blank"><span class="icon-facebook"></span></a></li>
        
        <li><a href="https://www.instagram.com/rafting_adrenaline_neretva/"target="_blank"><span class="icon-instagram"></span></a></li>
      </ul>
    </div>
  </header> 
  <main class="main-content">
    <div class="container-fluid photos">

   
      
      <div class="row align-items-stretch">
        
        <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
          <a href="{{GalleryPansion.pansion1.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion1.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <a href="{{GalleryPansion.pansion2.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion2.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
          <a href="{{GalleryPansion.pansion3.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion3.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>

        <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up">
          <a href="{{GalleryPansion.pansion4.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion4.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <a href="{{GalleryPansion.pansion5.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion5.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>

        <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up">
          <a href="{{GalleryPansion.pansion6.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion6.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <a href="{{GalleryPansion.pansion7.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion7.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>


        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
          <a href="{{GalleryPansion.pansion8.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion8.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <a href="{{GalleryPansion.pansion9.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion9.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <a href="{{GalleryPansion.pansion10.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion10.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>


        <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
          <a href="{{GalleryPansion.pansion11.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion11.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <a href="{{GalleryPansion.pansion12.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion12.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
          <a href="{{GalleryPansion.pansion13.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion13.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>

        <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up">
          <a href="{{GalleryPansion.pansion14.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion14.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <a href="{{GalleryPansion.pansion15.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion15.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>

        <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up">
          <a href="{{GalleryPansion.pansion16.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion16.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <a href="{{GalleryPansion.pansion17.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion17.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>


        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
          <a href="{{GalleryPansion.pansion18.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion18.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up" data-aos-delay="100">
          <a href="{{GalleryPansion.pansion19.url}}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{GalleryPansion.pansion19.url}}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        

      </div>


      <div class="row justify-content-center">

        </div>
      </div>
    </div>
  </main>

</div> <!-- .site-wrap -->

  <script src="{% static 'gallery/js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'gallery/js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{% static 'gallery/js/jquery-ui.js'%}"></script>
  <script src="{% static 'gallery/js/popper.min.js'%}"></script>
  <script src="{% static 'gallery/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'gallery/js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'gallery/js/jquery.stellar.min.js'%}"></script>
  <script src="{% static 'gallery/js/jquery.countdown.min.js'%}"></script>
  <script src="{% static 'gallery/js/jquery.magnific-popup.min.js'%}"></script>
  <script src="{% static 'gallery/js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{% static 'gallery/js/aos.js'%}"></script>

  <script src="{% static 'gallery/js/jquery.fancybox.min.js'%}"></script>

  <script src="{% static 'gallery/js/main.js'%}"></script>
    
  </body>
</html>